{
	"env": {
  	"node": true
	},
	"extends": "eslint:recommended",
	"globals": {
		"_": true,
		"angular": true,
		"FileReader": true,
		"moment": true,
		"Promise": true,
		"toastr": true,
		"validator": true,
		"XLSX": true,
		"vue": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
 	},
	"rules": {
		"arrow-body-style": ["error", "always"],
		"arrow-parens": ["error", "always"],
		"arrow-spacing": ["error"],
		"brace-style": ["error"],
		"camelcase": ["error", { "properties": "always" }],
		"comma-dangle": ["error", "always"],
		"comma-spacing": ["error", { "before": false, "after": true }],
		"comma-style": ["error", "last"],
		"complexity": ["error", { "max": 10 }],
		"curly": ["error"],
		"dot-notation": ["error"],
		"eqeqeq": ["error"],
		"func-call-spacing": ["error", "never"],
		"indent": ["error", 2],
		"init-declarations": ["error", "always"],
		"key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
		"keyword-spacing": ["error", { "before": true, "after": true }],
		"linebreak-style": ["error", "windows"],
		"max-depth": ["error", { "max": 3 }],
		"max-len": ["error", { "code": 120 }],
		"max-lines": ["error", { "max": 1000 }],
		"max-params": ["error", 10],
		"max-statements-per-line": ["error", { "max": 1 }],
		"newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
		"no-alert": ["error"],
		"no-bitwise": ["error"],
		"no-confusing-arrow": ["error"],
		"no-console": ["error", { "allow": ["error"] }],
		"no-else-return": ["error"],
		"no-eq-null": ["error"],
		"no-floating-decimal": ["error"],
		"no-inline-comments": ["error"],
		"no-mixed-operators": ["error"],
		"no-multi-assign": ["error"],
		"no-multi-spaces": ["error"],
		"no-multiple-empty-lines": ["error", { "max": 1 }],
		"no-param-reassign": ["error"],
		"no-plusplus": ["error"],
		"no-self-compare": ["error"],
		"no-trailing-spaces": ["error"],
		"no-unneeded-ternary": ["error"],
		"no-var": ["error"],
		"no-whitespace-before-property": ["error"],
		"nonblock-statement-body-position": ["error", "below"],
		"object-shorthand": ["error"],
		"operator-linebreak": ["error", "before"],
		"padded-blocks": ["error", "never"],
		"prefer-arrow-callback": ["error"],
		"prefer-const": ["error"],
		"quote-props": ["error", "as-needed"],
		"quotes": ["error", "single"],
		"radix": ["error"],
		"semi": ["error", "always"],
		"space-in-parens": ["error", "never"],
		"strict": ["error", "global"],
		"yoda": ["error", "never"]
	}
}